{% extends "base.html" %}

{% block body %}

<h1>{{ title }}</h1>
<p>{{ now }}</p>
<br></br>
<p>Database contains {{ n_items }} <a href="/admin/words/item/">items</a> from {{ n_feeds }} <a href="/admin/words/feed/">feeds</a> ({{ earliest }} -- {{latest }})</p>
<h3>Frequent word clusters</h3>
<form action="/" method="post">{% csrf_token %}
{{ wordsets_form.as_p }}
<input type="submit" value="Go" />
</form>

<h3>New word clusters</h3>
<form action="/new_wordsets/" method="post">{% csrf_token %}
{{ new_wordsets_form.as_p }}
<input type="submit" value="Go" />
</form>

{% endblock %}
