body {
    margin: 20px;
    font-family: Verdana, Sans-Serif, Arial, Helvetica;
    font-size: 12px;
    color: #242424;
    line-height: 18px;
    padding: 0px;
    width: 800px;
    background-color: #ffffff;
    float: left;
}
thead {
    font-weight: bold;
}
a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #900;
}
a:hover {
    color: #ff9900;
}
a:visited {
    color: #ff9000;
    font-weight: bold;
}
h1 {
    font-size: 21px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 8px;
}
